{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <h2>Top Wallpapers For Design</h2>
        {% include "::home/best-in-category.html.twig" with { "images": design_images } %}
    </div>

    <div class="row">
        <h2>Top Wallpapers For Summer</h2>
        {% include "::home/best-in-category.html.twig" with { "images": summer_images } %}
    </div>

    <div class="row">
        <h2>Top Wallpapers For Autumn</h2>
        {% include "::home/best-in-category.html.twig" with { "images": autumn_images } %}
    </div>

    <hr>

    <div class="row">
        <h2>Random Images</h2>
        {% for image in randomised_images %}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="/images/{{ image }}" alt="...">
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}